{% if not lightbox %}
    {% include 'header/header.html' with {
      'label':schema.cms.label,
      'langs':schema.cms.langs,
      'type':'edit',
      'buttons':schema.cms.buttons_edit }
%}
{% else %}
  <!-- lightbox -->
  <button class="btn btn-sm btn-primary serdelia-lightbox-closer serdelia-lightbox-closer-js"><span
      class="mdi mdi-close"></span></button>
  {#{% for item in schema.cms.buttons_edit %}
  {% if not item.hidden and item.icon!='back' and item.icon!='back' %}
  <a href="{{item.url}}?mode=lightbox" {% if item.target %}target="{{item.target}}" {% endif %}><button
      class="btn btn-sm serdelia-lightbox-button {% if item.class %}btn-{{item.class}}{% else %}btn-primary{% endif %} {% if not item.target %}serdelia-edit-ask-save-go{% endif %}">[[icon::{{item.icon}},left]]{%
      if translate[item.cms.label] %}{{translate[item.cms.label]}}{% else %}{{item.cms.label}}{% endif %}</button></a>
  {% endif %}
  {% endfor %}#}
{% endif %}
{% include "view_app_subnav.html" %}
{% include "modules/edit_body.html" %}