{% if not lightbox %}
    {% include 'header/header.html' with {'label':schema.label,'langs':schema.langs,'type':'edit','buttons':schema.buttons_edit } %}
{% else %}
  <!-- lightbox -->
  <button class="btn btn-sm btn-primary serdelia-lightbox-closer serdelia-lightbox-closer-js"><span
      class="mdi mdi-close"></span></button>
  {#{% for item in schema.buttons_edit %}
  {% if not item.hidden and item.icon!='back' and item.icon!='back' %}
  <a href="{{item.url}}?mode=lightbox" {% if item.target %}target="{{item.target}}" {% endif %}><button
      class="btn btn-sm serdelia-lightbox-button {% if item.class %}btn-{{item.class}}{% else %}btn-primary{% endif %} {% if not item.target %}serdelia-edit-ask-save-go{% endif %}">[[icon::{{item.icon}},left]]{%
      if translate[item.label] %}{{translate[item.label]}}{% else %}{{item.label}}{% endif %}</button></a>
  {% endif %}
  {% endfor %}#}
{% endif %}
<div
  class="{% if lightbox %}serdelia-body-edit-lightbox{% else %}serdelia-body-edit{% endif %} {% if schema_editor %}serdelia-body-edit-schema{% endif %}">
  <div class="container serdelia-edit">
    <form class="form-horizontal" id="serdelia_edit_form" {#id="fileupload" #} enctype="multipart/form-data"
      action="{{schema.url_write}}" data-page="{{schema.model_name}}" data-url-back="{{schema.url_back_form}}" {% if not
      record.id %}data-url-new={{schema.url_new}} {% endif %} method="POST" role="form">
      <input type="hidden" name="_srdcsrftkn" value="{{csrf_token_value}}">
      {% if tabs %}

      <input type="hidden" name="tab" id="hidden_tab" value="">
      <ul class="nav nav-tabs" id="serdelia-edit-tabs" role="tablist">
        {% for item in tabs %}
        {% if not item.hidden %}
        <li id="tab{{loop.index}}_hidden_field" role="presentation" class="nav-item">
          <a class="nav-link {% if item.active %}active{% endif %}" href="#tab{{loop.index}}"
            aria-controls="tab{{loop.index}}" role="tab" data-toggle="tab">
            {{item.label}}
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>

      <div class="tab-content">
        {% endif %}

        {% set iTab=0 %}
        {% set iElementsNow=0 %}

        {% for field in schema.fields %}
        {% if field.tab %}
        {% if iTab!=0 %}</div><!-- closeTab -->{% endif %}
      <!-- openTab -->
      <div role="tabpanel" class="tab-pane{% if tabs[iTab].active %} active{% endif %}" id="tab{{iTab+1}}"><br><br>
        {% set iTab=iTab+1 %}
        {% set iElementsNow=0 %}
        {% endif %}

        {% if field.type in ['variable','hidden','uid'] %}
        {% include 'modules/edit/edit_hidden.html' with {'field':field,'value':record[field.field],'lang':lang } %}
        {% elseif field.settings.hashable and field.value_hashed and (field.type!='file') %}
        <div class="form-group row">
          <label class="col-lg-2 col-form-label">{{field.label}}</label>
          {% include 'modules/edit/edit_hashable.html' with {'field':field,'value':record[field.field],'lang':lang } %}
        </div>
        {% else %}

        {% if not field.hidden %}
        {% if field.hr and field.hr is not same as ('down') and iElementsNow>0 %}
        <hr>{% endif %}
        {% endif %}

        {% if field.header %}
        <div class="form-group row">
          <label class="col-lg-2 col-form-label"></label>
          <div class="col-lg-6">
            <h5>{{field.header}}</h5>
          </div>
        </div>
        {% endif %}

        {% if field.help and field.help.size=='full' %}
        {% include 'modules/edit/subview_help.html' with {field:field,size:'full'} %}
        {% endif %}

        <div class="form-group row" data-edit-lang="{{field.lang}}" data-edit-field="{{field.cms_field}}" {% if
          field.hidden %}style="display:none" {% endif %}>
          {% if not field.label and field.settings.wide %}
          {% else %}
          <label for="{{field.cms_field}}" class="col-lg-2 col-form-label">{{field.label}}{% if field.required %}<sup>
              *</sup>{% endif %}
            {% if field.lang and schema.langs|length>1 %}
            &nbsp;<span class="btn btn-xs btn-default serdelia-edit-fields-lang">{{field.lang}}</span>
            {% endif %}
            {% if field.help %}
            &nbsp;<span data-field="e_{{field.field}}"
              class="btn btn-xs btn-default serdelia-edit-toggle-help {% if not field.help.hidden %}d-none{% endif %}">?</span>
            {% endif %}
          </label>
          {% endif %}

          {% if field.settings.width %}{% set size=field.settings.width %}{% else %}{% set size=6 %}{% endif %}
          {% if field.settings.wide and not field.settings.width %}{% set size=12 %}{% endif %}
          {% set sizes = { 'date': 2,'elements_double': 10 } %}
          {% if sizes[field.type] %}{% set size=sizes[field.type] %}{% endif %}


          {% set non_inline = ['table','elements','image'] %}

          {% if field.help and field.help.size!='full' %}
          {% include 'modules/edit/subview_help.html' %}
          {% endif %}

          <div
            class="col-lg-{{size}} {% if not field.type in non_inline %}form-check-inline{% else %}{% endif %} {% if field.on_demand %}input-group{% endif %}"
            style="{% if not field.type in non_inline %}padding-left:0{% endif %}">
            {% include 'modules/edit/edit_'~field.type~'.html' with
            {'field':field,'value':record[field.field],'lang':lang,'langs':langs } %}
            {% if field.on_demand %}
            <div class="input-group-append">
              <div class="input-group-text">
                <input type="checkbox" aria-label="" class="serdelia-on-demand" data-field="{{field.cms_field}}">
              </div>
            </div>
            {% endif %}

            {% if field.settings.ai %}
                <span class="badge badge-sm badge-secondary" style="padding-bottom:5px;padding-right:7px;margin-top:5px"><span class="mdi mdi-bolt"></span> Improve with AI</span>
            {% endif %}

          </div>

        </div>
        {% endif %}
        {% if field.hr is same as ('down') %}
        <hr>{% endif %}
        {% if not field.hidden %}
        {% set iElementsNow=iElementsNow+1 %}
        {% endif %}
        {% endfor %}
        {% if iTab>0 %}
      </div>{% endif %}
      <!-- footer write changes, cancel etc -->

      <hr>
      {% if not view_only %}
      <div class="form-group row">
        <label class="col-lg-2 col-form-label"></label>
        <div class="col-lg-6" style="padding-left:0px">
          {% if not lightbox %}
          <button disabled id="serdelia-submit" name="submit-standard" value="submit"
            class="btn btn btn-primary serdelia-submit"><span
              class="mdi mdi-done pull-left"></span>{{translate.write_changes}}</button>
          <button disabled id="serdelia-submit-edit" name="submit-edit" value="submit-edit"
            class="btn btn btn-primary serdelia-submit"><span
              class="mdi mdi-done-all pull-left"></span>{{translate.write_changes_edit}}</button>
          <button name="cancel" value="cancel" class="btn btn-default serdelia-edit-cancel"><span
              class="mdi mdi-cancel pull-left"></span>{{translate.cancel}}</button>

          {% if schema.url_backup %}
          {#<div style="float:right">#}
            <a href="#" data-url="{{schema.url_backup}}" class="button-backup serdelia-edit-ask-save-go"><button
                type="button" class="btn btn btn-default"><span
                  class="mdi mdi-backup pull-left"></span>Backup</button></a>

            {#{% if schema.url_backup_media %}
            <a href="#" data-url="{{schema.url_backup_media}}" class="button-backup serdelia-edit-ask-save-go"><button
                type="button" class="btn btn-sm btn-default"><span
                  class="mdi mdi-backup pull-left"></span>Media</button></a>
            {% endif %}#}
            {#
          </div>#}
          {% endif %}
        </div>
        {% else %}
        <button disabled id="serdelia-submit" name="submit-standard" value="submit"
          class="btn btn btn-primary serdelia-submit serdelia-submit-lightbox"><span
            class="mdi mdi-done pull-left"></span>{{translate.write_changes}}</button>
        <button name="cancel" value="cancel" class="btn btn-default serdelia-lightbox-closer-js"><span
            class="mdi mdi-cancel pull-left"></span>{{translate.cancel}}</button>
        {% endif %}
      </div>
      {% endif %}
    </form>

    {% if tabs %}
  </div>
  {% endif %}

  {% include 'modals/modal_savego.html' %}
  {% include 'modals/modal_info.html' %}


</div>
</div>