<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="modalInfo" aria-hidden="true" style="">
  <div class="modal-dialog" style="max-width:800px">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalInfoLabel">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body" id="modalInfoMessage">
        {{message|replace({'<br>':'<br><br>'})|raw}}
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{translate.cancel}}</button>
        <button type="button" class="btn btn-primary serdelia-removeRecordConfirm">{{translate.remove}}</button>
      </div>-->
    </div>
  </div>
</div>