<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="modalInfo" aria-hidden="true" style="">
  <div class="modal-dialog" style="max-width:800px">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalInfoLabel">{{title}}</h4>
        <button type="button" class="close serdelia-modal-info-close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body" id="modalInfoMessage">
        {{message|replace({'<br>':'<br><br>'})|raw}}
      </div>
      <div class="modal-footer serdelia-modal-info-footer" style="display:none">
        <a href="/cms/login" class="btn btn-primary serdelia-modal-info-login">Login</a>
      </div>
    </div>
  </div>
</div>