<div class="modal fade" id="modalSaveGo" tabindex="-1" role="dialog" aria-labelledby="modaSaveGoLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="modalSaveGoLabel">{{translate.saveGo_title}}</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">{{translate.saveGo_copy}}</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default serdelia-edit-ask-save-go-cancel"
							data-dismiss="modal">{{translate.cancel}}</button>
							<button type="button" class="btn btn-default serdelia-edit-ask-save-go-dismiss">
								{{translate.saveGo_dismiss}}</button>
						<button type="button"
							class="btn btn-primary serdelia-edit-ask-save-go-confirm">{{translate.saveGo_confirm}}</button>
					</div>
				</div>
			</div>
</div>
<div class="modal fade" id="modalSaveGoRequired" tabindex="-1" role="dialog" aria-labelledby="modaSaveGoRequiredLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="modalSaveGoRequiredLabel">{{translate.saveGoRequired_title}}</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">{{translate.saveGoRequired_copy}}</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default serdelia-edit-ask-save-go-required-cancel"
							data-dismiss="modal">{{translate.continue}}</button>							
					</div>
				</div>
			</div>
</div>