{% if field.input!='search' %}

	{% if value.id %}{% set value=value.id %}{% endif %}
	{% if value.values.id %}{% set value=value.values.id %}{% endif %}

	{% if field.source.edit %}
	<div class="row">
		<div class="col-8" style="padding:0">
	{% endif %}

	<select name="{{field.cms_field}}" {% include 'modules/edit/subview_settings.html' with field %} class="form-control serdelia-edit-field {% if field.page_update %}serdelia_page_update{% endif %} {% if field.toggle_fields %}serdelia-edit-toggle-field{% endif %}"  id="{{field.cms_field}}" data-initial-value="{{value}}" {% if field.edit is same as(false) %}disabled{% endif %} {% if field.source.parent %}data-select-parent="e_{{field.source.parent}}" data-large="1"{% endif %}{% if field.toggle_fields %} data-toggle='{{field.toggle_fields|json_encode}}'{% endif %} {% if field.required %}required{% endif %}>
		{% for item in field.options %}
		<option value="{{item.value}}" {% if value==item.value %}selected{% endif %}>{% if item.label %}{{item.label|striptags|raw}}{% else %}{{item.value}}{% endif %}</option>
		{% endfor %}
	</select>
		{% if field.source.edit %}
		</div>
		<div class="col-xs-8">
		&nbsp;<a href="{{field.source.url_edit}}" class="btn btn-default serdelia-edit-ask-save-go">{{translate.selectEdit}}</a>
		</div>
		</div>
		{% endif %}
{% else %}

<input type="hidden" name="{{field.cms_field}}" class="form-control serdelia-edit-field"  id="{{field.cms_field}}" value="{% if value is iterable %}{{value.values.id}}{% else %}}value{% endif %}">

<input type="text" {% if field.disabled %}disabled{% endif %} name="{{field.cms_field}}_text" data-field="{{field.cms_field}}" class="form-control serdelia-edit-field serdelia-edit-field-search"  id="{{field.cms_field}}_text" placeholder="{{field.source.placeholder}}" value="{{value.label|striptags}}">
<ul class="list-group" data-field="{{field.cms_field}}" data-searched="{{field.cms_field}}"></ul>


{% endif %}