<div class="serdelia-preview-iframe" style="width: 854px;  height: 448px; border: 1px solid #ccc; overflow: hidden;
  position: relative;">
  <div class="preview-loading"
    style="position: absolute; inset: 0; display: flex; align-items: center; justify-content: center; font-size: 14px; color: #999;">
    Loading...</div>
  <iframe data-src="{{value.url_preview}}"
    style="width: 1522px;height: 800px;border: none;transform: scale(0.56);transform-origin: 0 0;position: absolute;top: 0;left: 0; opacity: 0;"></iframe>
  <a href="{{value.url_edit}}" style="position: absolute; inset: 0; z-index: 10;"></a>
</div>