{% if field.settings.cols %}{% set cols=field.settings.cols %}
{% elseif field.settings.header %}{% set cols=field.settings.header|length %}
{% elseif field.cms.placeholders %}{% set cols=field.cms.placeholders|length %}
{% else %}{% set cols=1 %}{% endif %}

<table class="table {% if field.cms.style %}serdelia-table-{{field.cms.style}}{% endif %}"
    id="{{field.cms_field}}" {#style="{% if field.cms.wide %}width:800px;{% else %}width:100%;{% endif %}"#}
    data-counter="{{field.cms.counter}}"
    data-cols="{{cols}}"
    data-paste='{{field.settings.paste|json_encode|raw}}'
    data-placeholders="{{field.cms.placeholders|json_encode}}">
{% if field.settings.header %}
<thead>
    <tr>
   	{% if field.cms.counter %}
   		<th class="serdelia-table-cell-nr"></th>
   	{% endif %}
    {% for item in field.settings.header %}
      <th class="serdelia-table-cell" scope="col">{% if item.label %}{{item.label}}{% else %}{{item}}{% endif %}</th>
    {% endfor %}
    <th scope="col" class="serdelia-table-cell-remove"></th>
    </tr>
</thead>
{% endif %}  
<tbody data-sortable="true" data-separator="tr" data-sortable-table="true" id="{{field.cms_field}}_body">	
    {% set iRows=value|length-1 %}
    {% if iRows <0 %}{% set iRows=0 %}{% endif %}
    
    {% for i in 0..iRows+1 %}

    {% if i==iRows+1 %}
      {% set fake_row=true %}
      {% set id=field.cms_field~'__row_index_' %}
      {% set loop_index='_row_index_' %}
      {% set row_index0='_row_index0_' %}
      {% set row_index_plus_1='_row_index_plus_1_' %}
      {% set ckeditor_class='ckeditor_temp' %}
    {% else %}
      {% set id=field.cms_field~'_'~loop.index %}
      {% set loop_index=loop.index %}
      {% set row_index0=i %}
      {% set row_index_plus_1=i+1 %}
      {% set ckeditor_class='ckeditor' %}
    {% endif %}
    
    <tr class="tr_data serdelia-table-tr" id="tr_{{id}}" data-id="{{id}}" {% if fake_row %}style="display: none"{% endif %}>
    	{% if field.cms.counter %}
      	<td width="10px" class="serdelia-table-cell serdelia-table-cell-nr" style="cursor:move"><span class="badge badge-secondary">{{loop_index}}</span></td>
    	{% endif %}

      {% for v in 0..cols-1 %}
        {% if field.settings.outside_fields %}
          {% set cell_value=value[i][field.settings.outside_fields[v]] %}
        {% else %}
          {% set cell_value=value[i][v] %}
        {% endif %}
        <td width="{% if field.cms.widths %}{{field.cms.widths[v]}}{% elseif field.settings.header[v].width %}{{field.settings.header[v].width}}{% else %}{{100/cols}}{% endif %}%" class="serdelia-table-cell serdelia_table_cell_placeholder_parent" data-id="{{field.cms_field}}_{{row_index_plus_1}}_{{loop.index}}">
            {% if field.settings.header[v].type=='html' %}
            <textarea {% if field.disabled or field.cms.edit is same as false %}disabled{% endif %} data-order="{{loop_index}}"
              id="{{field.cms_field}}_{{row_index_plus_1}}_{{loop.index}}"
              class="serdelia-edit-field serdelia_table_input {{ckeditor_class}}"
              {% if field.settings.height %}data-height="{{field.settings.height}}px;"{% else %}data-height="200px"{% endif %}
              data-toolbar="false" data-footer="false"
              name="{{field.cms_field}}[][{{row_index_plus_1}}][{{loop.index}}]"
              placeholder="{{field.cms.placeholders[v]}}">
                {{cell_value}}
              </textarea>
            {% else %}            
            <textarea {% if field.disabled or field.cms.edit is same as false %}disabled{% endif %} data-order="{{loop_index}}"
              style="{% if field.settings.height %}height:{{field.settings.height}}px;{% endif %}{% if field.cms.style=='json' or field.settings.header[v].style=='json' %}font-family:Courier{% endif %}"
              class="serdelia-edit-field serdelia_table_input"
              name="{{field.cms_field}}[][{{row_index_plus_1}}][{{loop.index}}]"
              placeholder="{{field.settings.header[v].placeholder}}">{{cell_value}}</textarea>
            {% endif %}
        </td>
     	{% endfor %}
       {% if not field.disabled and field.cms.edit is not same as false %}
      <td width="10px" class="serdelia-table-cell serdelia-table-cell-remove" style="cursor:pointer"><span class="mdi mdi-delete-forever"></span></td>
      {% endif %}
    </tr>
    {% endfor %}
</tbody>    
</table>
{% if not field.disabled and field.cms.edit is not same as false %}
<span class="btn {% if not field.cms.wide %}btn-sm{% endif %} btn-default serdelia_table_row_add" style="cursor:pointer;{% if not field.cms.wide %}float:right{% endif %}" data-table="{{field.cms_field}}"><i class="mdi mdi-add"></i> <span>{{translate.add}}</span></span>
{% endif %}