{% set layout=field.settings.layout %}{% if field.cms.small %}{% set layout='simple' %}{% endif %}
<div>
<div id="{{field.cms_field}}_order" data-layout="{{layout}}" data-sortable="true" data-separator="div" data-input="{{field.cms_field}}" {% if layout=='simple' %}style="display:inline-block"{% else %}class="files serdelia-edit-images"{% endif %}>
	{% for item in value.values %}	
	<div data-id="{{item.fields.id}}" class="serdelia-edit-imageUploadThumb">		
		{% set thumb= item.fields.image | keys[1] %}
			{% if item.fields.image|keys[1]=='original_webp' %}
				{% set thumb= item.fields.image | keys[2] %}
			{% endif %}
		{% if layout=='simple' %}
		<div class="serdelia-edit-elements--simple">
			{{item.label}}
			{% if field.cms.edit is same as(false) %}
			{% else %}<span data-id="{{item.fields.id}}" class="mdi mdi-clear serdelia-edit-elements-remove serdelia-edit-elements-remove--simple"></span>
			{% endif %}
		</div>		
		{% elseif not item.fields.image[thumb] and not item.image and not item.fields[field.source.image] %}
		<div class="card" >
			<div class="card-body">
			  <p class="card-title" style="margin-bottom:0.25rem">{{item.label|raw}}
				{% if field.cms.edit is same as(false) %}
				{% else %}<span data-id="{{item.fields.id}}" class="mdi mdi-clear serdelia-edit-elements-remove serdelia-edit-elements-remove--card"></span>
				{% endif %}
				</p>
			</div>
		</div>		
		{% else %}
		<div style="display:inline-block;padding-right:5px;width:100px">			
			{% if item.fields.image[thumb] %}
			<img src="{{item.fields.image[thumb]}}" style="max-width:100px;max-height:100px">
			{% elseif item.fields[field.source.image] %}
			<img src="{{item.fields[field.source.image]}}" style="max-width:100px;max-height:100px">
			{% elseif item.image %}
			<img src="{{item.image}}" style="max-width:100px;max-height:100px">
			{% else %}
			<img style="background-color:white" width=100 height=24>
			{% endif %}
			<br><small>{{item.label|raw}}</small>
		</div>
		<span data-id="{{item.fields.id}}" class="mdi mdi-clear serdelia-edit-elements-remove"></span>
		{% endif %}		
	</div>
	{% endfor %}	
</div>


{% if layout=='simple' and field.cms.edit is not same as(false) %}
		<div id="excludedElement" class="btn btn-sm btn-default serdelia-edit-elements-add--simple" style="display: inline-block;margin-top:25px" data-field="{{field.cms_field}}{% if field.input!='search' %}_select{% else %}_text{% endif %}"><span  class="mdi mdi-add"></span></div>
{% endif %}
</div>

{% if field.disabled or field.cms.edit is same as false %}
{% elseif field.input!='search' %}
	<select id="{{field.cms_field}}_select" class="form-control serdelia-edit-elements-select" {% if layout=='simple' %}style="display:none"{% endif %}>
		<option value="0">--- {{translate.add}} ---</option>
		{% for item in field.options %}
		{% if item.values.image %}{% set image=item.values.image.thumb %}{% else %}{% set image=item.image %}{% endif %}
		<option {% if value.ids[item.value] %}disabled{% endif %} value="{{item.value}}" {% if image %}data-img="{{image}}"{% endif %}>{{item.label|raw}}</option>
		{% endfor %}
	</select>
	<input id="{{field.cms_field}}" name="{{field.cms_field}}" value="{{value.value}}" style="width:0;height:0;opacity:0" and-type="hidden" {% if field.cms.required %}required{% endif %}><div id="{{field.cms_field}}_search_results" class="files serdelia-edit-images"></div>

{% else %}

	<input type="hidden" name="{{field.cms_field}}" class="form-control serdelia-edit-field"  id="{{field.cms_field}}" value="{{value.value}}" data-type="elements">
	<input type="hidden" name="{{field.cms_field}}_new" class="form-control serdelia-edit-field"  id="{{field.cms_field}}_new">
	<input type="text" autocomplete="off" name="{{field.cms_field}}_text" data-field="{{field.cms_field}}" {% if field.settings.add %}data-add="true"{% endif %} class="form-control serdelia-edit-field serdelia-edit-field-search"  id="{{field.cms_field}}_text" placeholder="{{field.source.placeholder}}" value="{{value.label}}" {% if layout=='simple' %}style="display:none"{% endif %}>
	<ul class="list-group" data-field="{{field.cms_field}}" data-searched="{{field.cms_field}}"></ul>

{% endif %}
