<textarea
    class="form-control serdelia-edit-field"
    type="text"
    style="{% if field.cms.style=='json' %}font-family:Courier;font-size:11px;{% endif %}{% if field.cms.wide %}width:100%;padding:20px;{% endif %}"
    name="{{field.cms_field}}"
    {% if field.cms.rows=='medium' or (field.cms.style=='json' and not field.cms.rows) %}rows=10{% elseif field.cms.rows+1>1 %}rows={{field.cms.rows}}{% endif %} id="{{field.cms_field}}"
    {% if field.cms.required %}required{% endif %}
    {% if field.cms.on_demand or field.cms.edit is same as(false) %}readonly{% endif %}
    {% if field.cms.max %} maxlength="{{field.cms.max}}"{% endif %}
>{{value}}</textarea>