.editorjs-editor-wrapper {  
  background-color: #f5f7fa;  
}

.editorjs-editor
{
  padding:20px 20px 20px 0px;
  
  background-color: white;
}

.ce-block__content, .ce-toolbar__content { max-width:calc(100% - 80px) !important; } .cdx-block { max-width: 100% !important; }

.ce-toolbar__content {
  display: flex;
  justify-content: flex-start;
}


.codex-editor .ce-toolbar {
  left: -10px;
  right: auto;
}

.ce-rawtool__textarea {
  min-height: unset;
  height: calc(1.5em * 5 + 16px);
  resize: vertical;
}

.ce-lead {
  font-size: 1.25em;
}

/* removes the default focus and selection styles for blocks with the lead class, allowing the custom styles to take precedence */
.ce-block--selected:has(.ce-lead),
.ce-block--selected:has(.ce-lead) .ce-block__content,
.ce-block--focused:has(.ce-lead),
.ce-block--focused:has(.ce-lead) .ce-block__content,
.ce-block:has(.ce-lead:focus),
.ce-lead:focus {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}