<div class="container vertical-center">
<div class="container">
        <h2  class="text-center">{{translate.header|capitalize}}</h2>

        <form method="POST" class="form-signin">
            {% if errors %}<p class="alert alert-danger">
                {% for error in errors %}
                {% if loop.index>1 %}<br>{% endif %}
                {% if error is iterable %}
                    {{translate['error_'~error[0]]}}: {{error[1]}}
                {% else %}
                    {{translate[error]}}
                {% endif %}
                {% endfor %}
            </p>
        	{% elseif expired %}<p class="alert alert-danger">{{translate.expired}}</p>{% endif %}
        	<p class="alert alert-info">
                {{translate.info}}
                {% for item in required %}{% if item>0 %}{% if loop.index>1 %}, {% endif %}{{translate.required[loop.index0]}} ({{item}}){% endif %}{% endfor %}.
            </p>
        	<input name="token" type="hidden" value="{{token}}">
            <input type="password" name="old_password" class="form-control first" placeholder="{{translate.old_password|capitalize}}" autofocus required>
        	<input type="password" name="new_password1" class="form-control middle" placeholder="{{translate.new_password|capitalize}}" minlength="{{required[0]}}" required>
        	<input type="password" name="new_password2" class="form-control last" placeholder="{{translate.new_password_repeat|capitalize}}" minlength="{{required[0]}}" required>
        <button name="login_submit" class="btn btn-lg btn-primary btn-block" type="submit"><span class="mdi pull-left mdi-lock-open"></span>{{translate.cta|capitalize}}</button>
    </form>
</div>
</div>