<!DOCTYPE html>
<html lang="{{lang}}">

<head>

  {% include 'scaffold/meta.html' %}
  {% include 'scaffold/bootstrap.html' %}
  {% include 'scaffold/css.html' %}

</head>

<body class="no-menu theme-{{scaffold.mode}}" data-base-path="{{url_base}}">

  {% if scaffold.nav %}
    {% include 'modules/nav.html' %}
  {% endif %}
  
  {{content|raw}}

  {% if scaffold.logged %}
    {% include 'scaffold/wysiwyg1.html' with {editor:scaffold.cfg.wysiwyg} %}
    {% include 'scaffold/js1.html' %}
    {% include 'scaffold/wysiwyg2.html' with {editor:scaffold.cfg.wysiwyg} %}
    {% include 'scaffold/js2.html' %}
    {% for item in scaffold.js_array %}
    <script src="{{item}}"></script>
    {% endfor %}
  {% endif %}
</body>

</html>