<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow .js and .css files
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^.*\.(js|css)$ - [L]

    # Deny everything else
    RewriteRule ^ - [F,L]
</IfModule>