{% apply spaceless %}{% if list.values %}
<span class='badge badge-{% if value %}{% if list.colors[1] %}{{list.colors[1]}}{% elseif list.colors[value] %}{{list.colors[value]}} %}{% else %}success{% endif %}{% else %}{% if list.colors[0] %}{{list.colors[0]}}{% else %}secondary{% endif %}{% endif %}'>{{ list.values[value] }}</span>
{% else %}
{% if list.label %}<small>{{list.label}}</small>&nbsp;{% endif %}<span class='badge badge-{{list.color}}'>{{value}}</span>
{% if list.break %}<br>{% endif %}
{% endif %}{% endapply %} 