    <script src="{{serdelia_path}}/public/js/jquery-3.5.1.min.js"></script>
    <script src="{{serdelia_path}}/public/js/jquery-ui.js?v116"></script>
    <script src="{{serdelia_path}}/public/js/jquery.sorttable.js?v116"></script>
    <script src="{{serdelia_path}}/public/bootstrap-plugins/popper/popper.min.js"></script>
    <script src="{{serdelia_path}}/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{serdelia_path}}/public/moment/moment-with-locales.min.js"></script>
    <script src="{{serdelia_path}}/public/bootstrap-plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{{serdelia_path}}/public/bootstrap-plugins/bootstrap-select/bootstrap-select.js"></script>
    <script src="{{serdelia_path}}/public/cropper/cropper.js"></script>
    <script src="{{serdelia_path}}/public/js/page.js?v=0.1815"></script>
    <script src="{{serdelia_path}}/public/js/edit.js?v=0.1815"></script>
    <script src="{{serdelia_path}}/public/js/sortable.js?v=0.1815"></script>
